{% extends 'FindoFinDoBundle:Default:index.html.twig' %}

{% block title %}FindoFinDoBundle:ToDo:finish{% endblock %}

{% block body %}
<h1>Welcome to the ToDo:finish page</h1>
    {{ form(form) }}
{% endblock %}
